In [1]:
t = ()

In [2]:
type(t)

tuple

In [3]:
t1 = (1,2,3,4,45,45.45,45+7j,"Teja",True)

In [4]:
type(t1)

tuple

In [5]:
l=[1,2,3,4]

In [6]:
type(l)

list

In [8]:
t1[0]

1

In [10]:
t1[7]

'Teja'

In [11]:
t1[-1]

True

In [12]:
t1[::-1]

(True, 'Teja', (45+7j), 45.45, 45, 4, 3, 2, 1)

In [14]:
t1= t1[::-1]

In [15]:
t1

(True, 'Teja', (45+7j), 45.45, 45, 4, 3, 2, 1)

In [16]:
t1[:3]

(True, 'Teja', (45+7j))

In [20]:
t1.count(4)

1

In [21]:
t1.count("abc")

0

In [25]:
t1.index("Teja")

1

In [26]:
t1.index(1)

0

In [29]:
t1.index(45+7j)

2

In [30]:
t1.count(True)

2

In [31]:
t1.count(1)

2

In [32]:
t1

(True, 'Teja', (45+7j), 45.45, 45, 4, 3, 2, 1)

In [33]:
l

[1, 2, 3, 4]

In [34]:
t1[0]

True

In [35]:
t1[0]= 345

TypeError: 'tuple' object does not support item assignment

In [36]:
l

[1, 2, 3, 4]

In [37]:
l[0]

1

In [38]:
l[0] = 100

In [39]:
l

[100, 2, 3, 4]

In [45]:
for i in t1:
    print(i,"-> ",type(i))

True ->  <class 'bool'>
Teja ->  <class 'str'>
(45+7j) ->  <class 'complex'>
45.45 ->  <class 'float'>
45 ->  <class 'int'>
4 ->  <class 'int'>
3 ->  <class 'int'>
2 ->  <class 'int'>
1 ->  <class 'int'>

In [46]:
t2 = (1,2,3,4)

In [47]:
t2 *3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [48]:
max(t2)

4

In [49]:
min(t2)

1

## Tuples are basically follows immutability concepts where it is not going to allow you to change any element at a particular index

In [50]:
t1=(1,2,3,4)
t2=(4,5,6,7)
t3 = (t1, t2)

In [51]:
t3

((1, 2, 3, 4), (4, 5, 6, 7))

In [52]:
t4 = ((1,2,3,4,5),[1,3,5,6,7,8])

In [53]:
t4

((1, 2, 3, 4, 5), [1, 3, 5, 6, 7, 8])

In [54]:
del t4

In [55]:
t4

NameError: name 't4' is not defined

In [57]:
t1

(1, 2, 3, 4)

In [56]:
len(t1)

4

In [58]:
'Teja' in t1

False

In [59]:
2 in t1

True