In [1]:
name = "Data Science Masters"

In [3]:
name.swapcase()

'dATA sCIENCE mASTERS'

In [4]:
name.title()

'Data Science Masters'

In [6]:
name.capitalize()

'Data science masters'

# Reversing the String

In [8]:
name[::-1]

'sretsaM ecneicS ataD'

In [9]:
reversed(name)

In [12]:
'& '.join(reversed(name))

's& r& e& t& s& a& M&  & e& c& n& e& i& c& S&  & a& t& a& D'

In [19]:
'Teja '.join('HiTejaSaiKumar')

'HTeja iTeja TTeja eTeja jTeja aTeja STeja aTeja iTeja KTeja uTeja mTeja aTeja r'

In [20]:
" ".join("abcd")

'a b c d'

In [41]:
" ".join("ant")

'a n t'

In [42]:
" ".join(reversed("abcd"))

'd c b a'

In [43]:
" ".join(reversed("PWSkills"))

's l l i k S W P'

In [44]:
#Type casing
list(reversed("ant"))

['t', 'n', 'a']

In [45]:
# reversed() gives string object

In [35]:
name = "JohnJohnJohn"


for i in list(reversed(name)):
    print(i, end=" ")
    
    
    
# lst =[1,2,3,4,5,1,2,3,4,5]
# tup =(1,2,3,4,5,1,2,3,4,5)
# set ={1,2,3,4,5} -> {1,2,3,4,5}
    
# list -> [], tuple -> () , set {1,2,3,4,5}, dictionary -> {1:"teja"}

n h o J n h o J n h o J

In [46]:
for i in list(reversed(name)):
    print(i,end=" ")

s r e t s a M   e c n e i c S   a t a D

In [47]:
# Removing characters from the end of the string

In [38]:
string_a ="&Teja sai kumar&"

In [39]:
string_a.strip("&")

'Teja sai kumar'

In [42]:
string_a.lstrip("&")

'Teja sai kumar&'

In [43]:
string_a.rstrip("&")

'&Teja sai kumar'

In [45]:
string_n="Greeting to Teja sai kumar"

print(string_n.replace("to","from"))

print(string_n.replace("Teja sai kumar", "Srikanth"))

Greeting from Teja sai kumar
Greeting to Srikanth

In [46]:
string_n.replace("Greeting","Welcome")

'Welcome to Teja sai kumar'

In [48]:
string_n="Greeting to Teja sai kumar"

string_n.replace(" ","T")

'GreetingTtoTTejaTsaiTkumar'

In [49]:
name = "Teja"

In [50]:
'Hello World'

'Hello World'

In [51]:
string_n="teja@gmail.com"

string_n.replace("@"," ")

'teja gmail.com'

In [ ]:
\n -> Next line

\t -> tab space

In [59]:
'Hello \nWorld'

print('Hello \nWorld')

Hello
World

In [57]:
print('Hello \tWorld')

'Teja \'s laptop'

Hello 	World

"Teja 's laptop"

In [58]:
'Hello \tWorld'

'Hello \tWorld'

In [62]:
'Hello \tWorld'.expandtabs()

'Hello   World'

In [64]:
'Hello \nWorld'.expandtabs()

'Hello \nWorld'

In [65]:
STR1= "Welcome to Srikanth for Dat cience masters"

STR1.replace("Dat","Data").replace("cience","Science").replace("to", 'From')

'Welcome From Srikanth for Data Science masters'

In [67]:
STR1.upper()

'WELCOME TO SRIKANTH FOR DAT CIENCE MASTERS'

In [68]:
STR1.isupper()

False

In [69]:
str1="TEJA"
str1.isupper()

True

In [70]:
str1.islower()

False

In [71]:
str1.isspace()

False

In [72]:
" ".isspace()

True

In [75]:
"Teja Sai".isspace()

False

In [76]:
if " ".isspace():
    print("is empty")

is empty

In [78]:
str2 = "Teja sai kumar"

In [79]:
str2.endswith("s")

False

In [80]:
str2.startswith("p")

False

In [11]:
## Check is all the characters in strting are alphanumberic

a="abcd1234"
a.isalnum()

True

In [9]:
b="abcd12112"
print(b.isalnum())
b="12112"
print(b.isalnum())
b="abcd"
print(b.isalnum())

b = "%^&Teja"
print(b.isalnum())

True
True
True
False

In [12]:
a.isnumeric()

False

In [13]:
a.isnumeric()

False

In [16]:
## To count the number of chars in the string -> @#$%^&*!

str2 = "!@#$%^&*Teja"
output = "!@#$%^&*" 

count = 0
for i in str2:
    count=count+1
print(count)

8

In [17]:
len(str2)

8

In [15]:
str2 ="teja"

In [19]:
str2[0]

't'

In [16]:
for i in str2:
    print(i)

t
e
j
a

In [20]:
for i in range(len(str2)):
    print(i, str2[i])

0 t
1 e
2 j
3 a

In [ ]:
str2 = "Teja"

In [27]:
str2[1]

'e'

In [30]:
for i in range(0, len(str2)):
    print(i, "=" ,str2[i])

0 = t
1 = e
2 = j
3 = a

In [22]:
range(len(str2))

range(0, 4)

In [31]:
## We can use index to iterate string reverse direction

for i in range(len(str2)-1,-1,-1):
    print(i,"=",str2[i])

3 = a
2 = j
1 = e
0 = t

# Not See

In [33]:
for i in range(len(str2)):
    print(str2[len(str2) - (i+1)])
    
print(len(str2))

a
j
e
t
4

In [34]:
for i in range(len(str2)):
    print(str2[len(str2) - (i+1)], end=" ")

s l l i k s w p

In [36]:
Name ="pwskillsaeiou"
vowels="AaEeIiOoUu"

for i in Name:
    for j in vowels:
        if(i==j):
            print(i," is vowel")

i  is vowel
a  is vowel
e  is vowel
i  is vowel
o  is vowel
u  is vowel

In [38]:
for i in Name:
    if i in vowels:
        print(i," is vowel")
    else:
        print(i," is not a vowel")

p  is not a vowel
w  is not a vowel
s  is not a vowel
k  is not a vowel
i  is vowel
l  is not a vowel
l  is not a vowel
s  is not a vowel
a  is vowel
e  is vowel
i  is vowel
o  is vowel
u  is vowel

## List

In [40]:
type([])

list

In [41]:
["Teja","Sai","Kumar",1202]

['Teja', 'Sai', 'Kumar', 1202]

In [42]:
list([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [43]:
str2

'pwskills'

In [44]:
list(str2)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [62]:
str1="PW Skills Data science masters"

In [63]:
lst1 = str1.split(" ")

In [48]:
lst1[:]

['PW', 'Skills', 'Data', 'science', 'masters']

In [50]:
lst1[2]="Datas"

In [51]:
lst1[2]

'Datas'

In [52]:
lst1[-2]

'science'

In [54]:
lst1[::-2]

['masters', 'Datas', 'PW']

In [56]:
lst1[-5::-2]

['PW']

In [58]:
lst1[-5::-2]

['PW']

In [59]:
lst1

['PW', 'Skills', 'Datas', 'science', 'masters']

In [64]:
## Concatination operation

lst1+["new element",3]

['PW', 'Skills', 'Data', 'science', 'masters', 'new element', 3]

In [65]:
lst1+1

TypeError: can only concatenate list (not "int") to list

In [66]:
lst1+[["new element",3]]

['PW', 'Skills', 'Data', 'science', 'masters', ['new element', 3]]

In [67]:
lst2=lst1+[["new element",3]]

In [68]:
lst2

['PW', 'Skills', 'Data', 'science', 'masters', ['new element', 3]]

In [69]:
lst2[-1][0]

'new element'

In [70]:
lst1*2

['PW',
 'Skills',
 'Data',
 'science',
 'masters',
 'PW',
 'Skills',
 'Data',
 'science',
 'masters']

In [71]:
lst1

['PW', 'Skills', 'Data', 'science', 'masters']

In [72]:
for i in lst1:
    if i =='science':
        break
    print(i)

PW
Skills
Data

In [76]:
for i in lst1:
    if 'science' in lst1:
        print("present")
        break

present

In [79]:
lst1=["Zebra","Monkey","Donkey","Lion"]

lst2=[5,6,2,9,5,8,6]

print(max(lst1))
print(max(lst2))
print(min(lst1))
print(min(lst2))

Zebra
9
Donkey
2

In [81]:
lst =[1,2,3,4,5,6]
lst.append("pwskills")

[1, 2, 3, 4, 5, 6, 'pwskills']

In [82]:
lst

[1, 2, 3, 4, 5, 6, 'pwskills']

In [83]:
lst.append(["Data","Science","Masters"])

In [84]:
lst

[1, 2, 3, 4, 5, 6, 'pwskills', ['Data', 'Science', 'Masters']]

In [93]:
lst1=["Zebra","Monkey","Donkey","Lion"]
lst1.pop()

'Lion'

In [86]:
lst1

['Zebra', 'Monkey', 'Donkey']

In [87]:
lst1.pop(2)

'Donkey'

In [89]:
lst1

['Zebra', 'Monkey']

In [90]:
tremoved_element=lst1.pop(0)

In [91]:
tremoved_element

'Zebra'

In [92]:
lst1

['Monkey']

In [94]:
lst1[100]

IndexError: list index out of range

In [95]:
## Sorting and reverse methos in list

new_list=['q','e','f','s','t','u']
new_list

['q', 'e', 'f', 's', 't', 'u']

In [96]:
new_list[::-1]

['u', 't', 's', 'f', 'e', 'q']

In [97]:
new_list.reverse()

In [98]:
new_list

['u', 't', 's', 'f', 'e', 'q']

In [99]:
new_list.sort()

In [100]:
new_list

['e', 'f', 'q', 's', 't', 'u']

In [101]:
new_list.sort(reverse=True)

In [102]:
new_list

['u', 't', 's', 'q', 'f', 'e']

In [103]:
lst=[1,2,3,4,5,6]
lst.append(10)

In [104]:
lst.append(["PW","Skills"])

In [106]:
lst.extend(["PW","Skills"])
lst

[1, 2, 3, 4, 5, 6, 10, ['PW', 'Skills'], 'PW', 'Skills']

In [105]:
lst

[1, 2, 3, 4, 5, 6, 10, ['PW', 'Skills']]

## Nested list

In [117]:
lst1=[1,2,3]
lst2=[4,5,6]
lst3=[7,8,9]

matrix=[lst1,lst2,lst3]
print(matrix)
print(matrix[1][2])
print(matrix[2][1:]

SyntaxError: unexpected EOF while parsing (1885035817.py, line 8)

In [116]:
for (i,j) in matrix:
    if(i==0):
        print(matrix[i][0])

ValueError: too many values to unpack (expected 2)

In [119]:
matrix[0][0],matrix[1][0],matrix[2][0]

(1, 4, 7)

In [120]:
## List Comprehension

[i for i in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [121]:
[i for i in range(20) if i%2==0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [122]:
[i%2==0 for i in range(20)]

[True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False]

In [123]:
["True" i%2==0 else "ODD" for i in range(20)]

SyntaxError: invalid syntax (1866627127.py, line 1)

In [124]:
[i if i%2==0 else "ODD" for i in range(20)]

[0,
 'ODD',
 2,
 'ODD',
 4,
 'ODD',
 6,
 'ODD',
 8,
 'ODD',
 10,
 'ODD',
 12,
 'ODD',
 14,
 'ODD',
 16,
 'ODD',
 18,
 'ODD']

In [128]:
[i if i%2==0 else "ODD" for i in range(0,20)]

[0,
 'ODD',
 2,
 'ODD',
 4,
 'ODD',
 6,
 'ODD',
 8,
 'ODD',
 10,
 'ODD',
 12,
 'ODD',
 14,
 'ODD',
 16,
 'ODD',
 18,
 'ODD']

In [134]:
lst = [1,2,3,4,5,6,7,8]

count_even=0
count_odd=0

for i in lst:
    if i%2==0:
        count_even+=i
    else:
        count_odd+=i

print(count_even)
print(count_odd)

20
16

In [139]:
even_sum =sum([i for i in lst if i%2==0])
even_sum

20

In [140]:
odd_sum =sum([i for i in lst if i%2!=0])
odd_sum

16

In [141]:
lst =[1,2,3,4,5,6,7,8,9,10]

[i*i for i in lst]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [142]:
# Create a list of only positive numbers from a given list

numbers = [-2,-1,0,1,2,3,4]

for i in numbers:
    if i > 0:
        print(i)

1
2
3
4

In [143]:
[i for i in numbers if i>0]

[1, 2, 3, 4]

In [145]:
# create a list of only 1st letter of words in a list

words =['apple','banana','cherry','date']

[i[0] for i in words]

['a', 'b', 'c', 'd']

# Temperature from *C to F -> (9/5) * temp + 32

In [147]:
celsius_temperature =[0,10,20,30,40,50]

[(9/5)*temp+32 for temp in celsius_temperature]

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

In [148]:
## Flatten nested list to single list

lists =[[1,2,3],[4,5,6],[7,8,9]]

[j for i in lists for j in i]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [156]:
## list of prime numbers in trhe list

numbers =[1,2,3,4,5,6,7,8,9,10]

[i for i in numbers for j in range(2, int(i/2)) if i%j==0]

[6, 8, 9, 10]

In [157]:
## all possible combination of 2 elements ffrom the list

numbers =[1,2,3,4,5]

[i,j for i in numbers for j in range(i,i+2)]

SyntaxError: invalid syntax (3184688563.py, line 5)